
@{
    Layout = null;
    @model ForumDImage.Models.Utilisateur
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        Hello
        @using (Html.BeginForm())
        {
            <fieldset>
                <legend>Se connecter</legend>

                <div>
                    @Html.LabelFor(model => model.NomUtilisateur)
                    @Html.TextBoxFor(model => model.NomUtilisateur)
                </div>

                <div>
                    @Html.LabelFor(model => model.MotDePasse)
                    @Html.TextBoxFor(model => model.MotDePasse)
                </div>
                @Html.ActionLink("Inscription", "~/Inscription/Index");
                <br />
                <input type="submit" value="Connection" />
            </fieldset>
        }
    </div>
</body>
</html>
