@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Login";
    @model ForumDImage.Models.Utilisateur
}

@using (Html.BeginForm())
{
    <fieldset>
        <legend>Se connecter</legend>

        <div class="form-group">
            @Html.LabelFor(model => model.NomUtilisateur, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.NomUtilisateur, new { @class = "form-control", placeholder = "Nom d'utilisateur" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.MotDePasse, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.MotDePasse, new { @class = "form-control", type = "password", placeholder = "Mot de passe"})
        </div>
        <br />
        <input type="submit" value="Connection" class="btn btn-default" />
    </fieldset>
    <label style="color:red">@ViewBag.Message</label>
}