@model ForumDImage.ViewModels.UserValidationModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ModifierLesInfos</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h4>Utilisateur</h4>
            <hr />
            @Html.ValidationSummary(true)
            @Html.Hidden("Id", HttpContext.Current.User.Identity.Name)
    
            <div class="form-group">
                @Html.LabelFor(model => model.NomUtilisateur, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NomUtilisateur)
                    @Html.ValidationMessageFor(model => model.NomUtilisateur)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.MotDePasse, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.MotDePasse)
                    @Html.ValidationMessageFor(model => model.MotDePasse)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ConfirmMotDePasse, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ConfirmMotDePasse)
                    @Html.ValidationMessageFor(model => model.ConfirmMotDePasse)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.NomComplet, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NomComplet)
                    @Html.ValidationMessageFor(model => model.NomComplet)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email)
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ConfirmEmail, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ConfirmEmail)
                    @Html.ValidationMessageFor(model => model.ConfirmEmail)
                </div>
            </div>
    
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
