@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    @model ForumDImage.Models.Photo
}

<script type="text/javascript">
    function ChargerPreview() {
        var imageTarget = document.getElementById("preview");
        var input = document.getElementById("fichier");
        if (imageTarget != null) {
            var fReader = new FileReader();
            fReader.readAsDataURL(input.files[0]);
            fReader.onloadend = function (event) {
                imageTarget.src = event.target.result;
            }
        }
    }
</script>
<label>Preview</label>
<br />
<img id="preview" src="" alt="Image d'aperçu'" />
<br />

@using (Html.BeginForm("PublierPhoto", "ZoneClients", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <fieldset>
        <legend>Publier une Image</legend>

        <div class="form-group">
            @Html.LabelFor(model => model.Image)
            <input id="fichier" type="file" accept=".jpg,.png,.gif" name="Image" onchange="ChargerPreview()" />
            @Html.ValidationMessageFor(model => model.Image)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Titre) <span class="mandatory">*</span>
            @Html.TextBoxFor(model => model.Titre, new { @class = "form-control", placeholder = "Titre" })
            @Html.ValidationMessageFor(model => model.Titre)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Commentaire)
            @Html.TextBoxFor(model => model.Commentaire, new { @class = "form-control", placeholder = "Commentaire" })
            @Html.ValidationMessageFor(model => model.Commentaire)
        </div>
        <span class="mandatory">* Obligatoire</span>
        <input type="submit" value="Publier" />
        <br />
        <span style="color:red">@ViewBag.Message</span>
    </fieldset>
}