@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    @model ForumDImage.Models.Photo
}

<script type="text/javascript">
    function ChargerPreview() {
        var imageTarget = document.getElementById("preview");
        var input = document.getElementById("fichier");
        if (imageTarget != null) {
            var fReader = new FileReader();
            fReader.readAsDataURL(input.files[0]);
            fReader.onloadend = function (event) {
                imageTarget.src = event.target.result;
            }
        }
    }
</script>
<label>Preview</label>
<br />
<img id="preview" src="" alt="Image d'aperçu'" />
<br />

@using (Html.BeginForm("PublierPhoto", "ZoneClients", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <fieldset>
        <legend>Publier une Image</legend>
        <table>
            <tr>
                <td>@Html.LabelFor(model => model.Image)</td>
                <td><input id="fichier" type="file" accept=".jpg,.png,.gif" name="Image" onchange="ChargerPreview()" /></td>
                <td>@Html.ValidationMessageFor(model => model.Image)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.Titre)</td>
                <td>@Html.TextBoxFor(model => model.Titre)</td>
                <td>@Html.ValidationMessageFor(model => model.Titre)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.Commentaire)</td>
                <td>@Html.TextBoxFor(model => model.Commentaire)</td>
                <td>@Html.ValidationMessageFor(model => model.Commentaire)</td>
            </tr>
            <tr>
                <td><input type="submit" value="Publier" /></td>
            </tr>
            <tr>
                <td>@ViewBag.Message</td>
            </tr>
        </table>
    </fieldset>
}