@{
    Layout = null;
    @model ForumDImage.Models.Photo
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PublierPhoto</title>
    <script type="text/javascript">
        function ChargerPreview() {
            var imageTarget = document.getElementById("preview");
            var input = document.getElementById("fichier");
            if (imageTarget != null) {
                var fReader = new FileReader();
                fReader.readAsDataURL(input.files[0]);
                fReader.onloadend = function (event) {
                    imageTarget.src = event.target.result;
                }
            }
         }
    </script>
</head>
<body>
    <div>
        <label>Preview</label>
        <br />
        <img id="preview" src="nimportequoi" />
        <br />

        @using (Html.BeginForm("PublierPhoto", "ZoneClients", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <fieldset>
                <legend>Ajouter un usager</legend>

                <div>
                    @Html.LabelFor(model => model.Image)
                    <input id="fichier" type="file" accept=".jpg,.png,.gif" name="Image" onchange="ChargerPreview()" />
                    @Html.ValidationMessageFor(model => model.Image)
                </div>

                <div>
                    @Html.LabelFor(model => model.Commentaire)
                    @Html.TextBoxFor(model => model.Commentaire)
                    @Html.ValidationMessageFor(model => model.Commentaire)
                </div>
                <br />
                <input type="submit" value="Inscription" />
            </fieldset>
        }
    </div>
    @ViewBag.Message
</body>
</html>
